
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
        exclude: ^\.devcontainer/devcontainer\.json$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      # try to fix what is possible
      - id: ruff
        args: ["--fix"]
      # perform formatting updates
      - id: ruff-format
